.footer {
  &__logo {
    max-width: rem-calc(150px);
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: rem-calc(30px);
    ul {
      padding: 0;
      list-style-type: none;
      @include breakpoint(tablet-landscape) {
        display: flex;
        flex: 1 auto;
        justify-content: space-between;
      }
      li {
        a {
          font-family: $font-regular;
          font-size: rem-calc(14px);
          letter-spacing: rem-calc(1px);
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  &__socials {
      margin-top: rem-calc(35px);
      .fab {
        margin: 0 rem-calc(7px);
        color: #747474;
      }
  }
}
