$left  : "left";
$center: "center";
$right : "right";

$directions: (
  left  : $left,
  center: $center,
  right : $right
);

@each $dir, $direction in $directions {
  .text-#{$dir} {
    text-align: $dir;
  }
}

.flex {
  display: flex;
}

.f {
  &--col-to-row {
    flex-direction: column;
    @include breakpoint(tablet-landscape) {
      flex-direction: row;
    }
  }
  &--row-to-col {
    flex-direction: row;
    @include breakpoint(tablet-landscape) {
      flex-direction: column;
    }
  }
  &--auto {
    flex: 1 auto;
  }
}