@font-face {
    font-family: "Gotham-Book";
    src: url("../../assets/fonts/Gotham-Book.otf") format("opentype");
}  
  
$font-regular:                "Gotham-Book",   sans-serif;
$font-medium :                "Gotham-Medium", sans-serif;
$font-bold   :                "Gotham-Bold",   sans-serif;

$font-family-base:            $font-regular !default;
$font-size-base:              1rem !default;
$line-height-base:            1.5 !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;